.OrderButton {
  height: 100px;
  padding: 12px 24px;
  font-size: 24px;
  line-height: 24px;
  background-color: rgb(255, 105, 0);
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  border-radius: 9999px;
  text-align: center;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  box-shadow: 0 5px 25px -15px #676550;

  &:hover {
    background-color: rgb(232, 97, 0);
    color: rgb(255, 255, 255);
  }
}
