.PizzaForm {
  flex-grow: 1;
  background: rgb(252, 252, 252);
  overflow-y: scroll;

  @media (max-width: 850px) {
    overflow: unset;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

