.Divider {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 16px 0;

  &::before, &::after {
    background: rgb(255, 105, 0);
    content: "";
    flex: 1;
    height: 0.1rem;
    margin: 0 2rem;
    width: 100%;
  }
}
